
@import url(http://fonts.googleapis.com/css?family=Arvo:400,700);


h1, h2, h3, h4, h5, h6, p{
	font-family: 'Arvo', serif;
	font-weight: 400;
}

body{
	background-color: #DDD4CA;
}

a, a:hover{
	text-decoration: none;
}

.headerimage{
	height:190px;
	width:200px;
}

.headerimage2{
	height:75px;
	width:75px;
}

.textcenter {
	text-align: center;	
}

.header{
	margin-top: 2%;
	text-align: center;
}


.logo-title{
	font-size:60px;
	margin-left:10px;
	color: #3c464f;
	font-family: 'Arvo', serif;
}

.subtext {
	font-size:20px;
	color:#B24738;
}

.subtext2 {
	font-size:20px;
	color:#D55A4A;
	margin-left: 1%;
}

.text {
	line-height: 1.4;
	font-size: 1.5em;
	text-align: center;
	margin-top: 3%;	
}

.mtb {
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}

.tankchoice{
	display:inline;
	max-width: 30%;
	margin-left: 10%;
}

.tankchoice2{
	display:inline;
	max-width: 80%;
	margin-left: 12%;
}

.spacer{
	margin-bottom: 100px;
}

#top {
	background: #3C464F;
	margin-bottom: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.toptitle {
	color: white;
}

.toptitle2 {
	color: white;
	font-size: 2em;
	padding-left: 15%;
	padding-right: 15%;
}

.bottomspace {
	margin-bottom: 5%;
}
.btn-red{
background: #B24738;
font-size: 1em;
color: #fff;
text-transform: uppercase;
letter-spacing: 2px;
border-radius: 30px;
padding: 10px 20px;
overflow: hidden;
}

.btn-red:hover{
background: #3C464F;
font-size: 1em;
color: #fff;
text-transform: uppercase;
letter-spacing: 2px;
border-radius: 30px;
padding: 10px 20px;
overflow: hidden;
}


.btn-grey{
background: #939597;
font-size: 1em;
color: #fff;
text-transform: uppercase;
letter-spacing: 2px;
border-radius: 30px;
padding: 10px 20px;
overflow: hidden;
}

.btn-grey:hover{
background: #3C464F;
font-size: 1em;
color: #fff;
text-transform: uppercase;
letter-spacing: 2px;
border-radius: 30px;
padding: 10px 20px;
overflow: hidden;
}


.mainarena{
	background-image: url(images/map.png);
}

.navbar {
  position: fixed;
  height: 50px;
  bottom: 0px;
  color: white;
  background-color: white;
  width: 100%;
}




